<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoInvoicer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoInvoicer.Properties.Settings>
            <setting name="InvoiceEditorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvoiceListSort" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseEditorOnPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShopInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterVehicleField" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomBackupLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomBackupLastUpdated" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchBox" serializeAs="String">
                <value />
            </setting>
            <setting name="NewSearchMustMatchAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewSearchServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateInvoiceCopyNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeletePdfOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DontPrintInvoiceID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowDeleteInvoice" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoInvoicer.Properties.Settings>
    </userSettings>
</configuration>